Options +FollowSymlinks
# Prevent Directoy listing
Options -MultiViews
RewriteEngine On

RewriteBase /OpenWebMediaPlayer/MVC/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([^?]*) index.php?url=$1 [L,QSA]