version: '2'

services:

  mysql-server:
    image: mysql
    environment:
      MYSQL_DATABASE: ${DATABASE_NAME}
      MYSQL_ROOT_PASSWORD: ${DATABASE_ROOT_PASSWORD}
#      MYSQL_USER: owmp
#      MYSQL_PASSWORD: secret
    ports:
     - ${MYSQL_PORT}
    restart: always
    volumes:
      - ./docker/mysql/data:/var/lib/mysql
#      - /var/lib/mysql

  apache-server:
#    image: apps4net/apache:1.0
    image: apache
    ports:
      - ${APP_PORT}
#      - "443:443"
    environment:
      MYSQL_DATABASE: ${DATABASE_NAME}
      MYSQL_ROOT_PASSWORD: ${DATABASE_ROOT_PASSWORD}
    restart: always
    volumes:
      - .:/var/www/html
      - ./docker/apache/uploads.ini:/usr/local/etc/php/conf.d/uploads.ini
      - ${MY_VOLUME1}
      - ${MY_VOLUME2}
      - ${MY_VOLUME3}
      - ${MY_VOLUME4}
      - ${MY_VOLUME5}
    links:
      - mysql-server