<?php
/**
 * File: config.inc.php
 * Created by rocean
 * Date: 13/10/16
 * Time: 19:08
 *
 * Ρυθμίσεις mysql
 *
 */



define('CONNSTR', 'mysql:host=localhost;dbname=XXXXXXX');
define('DBUSER', 'XXXXXX');
define('DBPASS', 'XXXXXX');

