Options +FollowSymlinks
# Prevent Directoy listing
Options -MultiViews
RewriteEngine On



#RewriteBase /OpenWebMediaPlayer/AJAX/
#
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d

RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond $0#%{REQUEST_URI} ([^#]*)#(.*)\1$

RewriteRule ^([^?]*) %2index.php?route=$1 [L,QSA]