Options +FollowSymlinks
# Prevent Directory listing
Options -MultiViews
Options -Indexes
RewriteEngine On

#RewriteBase /OpenWebMediaPlayer/AJAX/
#
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d

RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond $0#%{REQUEST_URI} ([^#]*)#(.*)\1$

RewriteRule ^([^?]*) %2routing.php?route=$1 [L,QSA]