/* Color Palette */

/* @source https://material.google.com/style/color.html#color-color-palette */

.c1 {
    color: #37474F;
}

.c2 {
    color: #FFFFFF;
}

.c3 {
    color: red;
}

.c4 {
    color: grey;
}

.c5 {
    color: #607D8B;
}

.c6 {
    color: darkred;
}

.c7 {
    color: #455A64;
}

.c8 {
    color: #000000;
}

.bgc1 {
    background-color: #CFD8DC;
}

.bgc2 {
    background-color: #ECEFF1;
}

.bgc3 {
    background-color: #FFFFFF;
}

.bgc4 {
    background-color: #90A4AE;
}

.bgc5 {
    background-color: #000000;
}

.bgc5 {
    background-color: #607D8B;
}

.bgc7 {
    background-color: #546E7A;
}

.bgc8 {
    background-color: #B0BEC5;
}

.bgc9 {
    background-color: #FFEDED;
}

.bgc10 {
    background-color: #333333;
}

/* Playlist line colors */
.track:nth-child(odd) {
    background-color: #CFD8DC;
}

.track:nth-child(even) {
    background-color: #ECEFF1;
}

.track:hover {
    background-color: #B0BEC5;
}

.is-active {
    background-color: #B0BEC5 !important;
}

details div.error {
    color: #000000;
    background-color: #FFEDED;
}

.isFail {
    color: darkred;
}

.isSuccess {
    color: green;
}

.syncButton:disabled {
    background-color: red;
}

span.error {
    background-color: #FFEDED;
    color: #000000;
}

.is_youTube-success {
    color: green;
    font-weight: bold;
}

.is_youTube-fail {
    color: darkred;
    font-weight: bold;
}
