/* Help Object*/

#helpText {
    width: 100%;
    height: 95%;
    padding-right: 1em;
    overflow-y: auto;
    text-align: justify;
}

/*.app_icon {*/
    /*display: inline-block;*/
    /*cursor: pointer;*/
    /*border: none;*/
    /*width: 0.8em;*/
    /*background-color: transparent;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center center;*/
    /*background-size: 0.8em;*/
/*}*/