/* Progress Animation */
#o-progressAnimation_container {
    position: absolute;
    display: inline-block;
    top: 0.5em;
    width: 40%;
    height: 100px;
    /*border: 1px solid white;*/
}

#o-progressAnimation {

}
