/* Progress Animation */
#o-progressAnimation_container {
    /*position: relative;*/
    display: none;
    margin-bottom: 3em;
    /*width: 40%;*/
    height: 2em;
    /*border: 1px solid white;*/
}

/*#o-progressAnimation {*/

/*}*/
