.o-youTube--textArea {
    width: 90%;
    height: 10em;
}

/*o-youTube--mediaKind {*/
    /**/
/*}*/

.is_youTube-success {
    color: green;
    font-weight: bold;
}

.is_youTube-fail {
    color: darkred;
    font-weight: bold;
}
