/*FormMassiveTags*/

#editTag .thumb {
    width:5em;
    height:5em;
}

#editTag #tags_rating {
    -webkit-appearance: none;
    width: 90%;
    height:10px;
    border-radius: 8px;
    box-shadow: 0 0 5px #333;
    background-image:linear-gradient(to right, white, black 100%);
}

#editTag #tags_rating::-moz-range-track {
    -webkit-appearance: none;
    width: 100%;
    height:10px;
    border-radius: 8px;
    box-shadow: 0 0 5px #333;
    background-image:linear-gradient(to right, white, black 100%);
}

#editTag #tags_rating_output {
    border: 1px solid black;
    background-color: #FFFFFF;
    width: 1em;
    height: auto;
    text-align: center;
    display: inline-block;
}

/*#editTag #editTagButtons {*/
    /*display: block;*/
    /*width: 100%;*/
    /*text-align: center;*/
/*}*/