/* Footer */
footer {
    height: 2em;
}

/*footer span {*/
    /*align-self: center;*/
    /*display: inline-flex;*/
/*}*/

/*#AppVersionContainer {*/
    /*color: white;*/
/*}*/

/*#checkCurrentVersion {*/
    /*margin-left: 1em;*/
    /*color: red;*/
    /*font-weight: bold;*/
/*}*/

footer a {
    color: white;
    text-decoration: none;
}

footer a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
footer a:hover {
    color: white;
    text-decoration: underline;
}

/* selected link */
footer a:active {
    color: white;
    text-decoration: underline;
}

/*#timetext {*/
    /*width: 4em;*/
    /*display: inline-block;*/
/*}*/

/*#SystemTime img {*/
    /*width: 1.5em;*/
/*}*/

/*#mobileVersion {*/
    /*width: 100%;*/
    /*text-align: center;*/
    /*display: block;*/
    /*margin-top: 0.5%;*/
/*}*/

/*#mobileVersionText {*/
    /*font-size:70%;*/
/*}*/