#rating_div {
    display: block;
    width:100%;
    position:relative;
    text-align: center;
}

#FormTags #rating {
    -webkit-appearance: none;
    width: 90%;
    height:10px;
    border-radius: 8px;
    box-shadow: 0 0 5px #333;
    background-image:linear-gradient(to right, white, black);
}

/* Για mozilla */
#FormTags #rating::-moz-range-track {
    -webkit-appearance: none;
    width: 100%;
    height:10px;
    border-radius: 8px;
    box-shadow: 0 0 5px #333;
    background-image:linear-gradient(to right, white, black);
}

#FormTags #rating_output {
    border: 1px solid black;
    background-color: #FFFFFF;
    width: 1em;
    height: auto;
    text-align: center;
    display: inline-block;
}
