/*Fullscreen video*/

#overlay {
    width: 100%;
    height: 100%;
    z-index: 2147483647;
    top:0.5em;
    left: 0;
    position: fixed;
    display: none;
}

#overlay_rating {
    position: absolute;
    top: 2.5em;
    left: 0;
    color: #FFF;
    /*width: 5em;*/
    height: 1em;
    text-align: left;
    font-size: 1em;
    z-index: 2147483647;
    display: inline-block;
}

#overlay_rating img {
    width: 1.5em;
}

#overlay_play_count {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 15px;
    color: #FFF;
    /*width: 4em;*/
    height: 1em;
    text-align: center;
    font-size: 1.5em;
    z-index: 2147483647;
    display: inline-block;
}

#overlay_volume {
    position: fixed;
    top: 30%;
    left: 0;
    color: #FFF;
    width: 100%;
    height: 8em;
    text-align: center;
    z-index: 2147483647;
    display: none;
}

#overlay_volume_text {
    width: 2em;
    height: 2em;
    padding: 0.2em;
    font-size: 5em;
    background-color: rgba(221, 221, 221, 0.3);
    border-radius: 0.2em;
    display: inline-block;
}

.overlay_volume_up {
    background-image: url(../../img/volume_up.png);
    background-size: 0.5em;
    background-position: bottom center;
    background-repeat: no-repeat;
    outline: none;
}

.overlay_volume_down {
    background-image: url(../../img/volume_down.png);
    background-size: 0.5em;
    background-position: bottom center;
    background-repeat: no-repeat;
    outline: none;
}

.overlay_volume_mute {
    background-image: url(../../img/volume_off.png);
    background-size: 0.5em;
    background-position: bottom center;
    background-repeat: no-repeat;
    outline: none;
}

.overlay_giphy {
    background-image: url(../../img/giphy_logo.png);
    background-size: 0.4em;
    background-position: bottom center;
    background-repeat: no-repeat;
    outline: none;
}

#bottom_overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFF;
    width: 100%;
    height: 6em;
    text-align: left;
    font-size: 1.5em;
    background-color: rgba(221, 221, 221, 0.3);
    padding: 0.5em 2em 0.5em 1em;
    z-index: 2147483647;
    display: inline-block;
}

#error_overlay {
    position: absolute;
    bottom: 30%;
    left: 40%;
    color: #FFFFFF;
    width: 20%;
    height: auto;
    text-align: center;
    font-size: 1em;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.7);
    background-color: rgba(221, 221, 221, 0.3);
    padding: 0.5em 1em;
    z-index: 2147483647;
    display: none;
}


.full_screen_video {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: 100%; height: auto; z-index: -100;
    background-color: black;
}



#myVideo {
    z-index: 10;
    height: 40%;
}

#myVideo::-webkit-media-controls-panel {
    display:none;
}


#overlay_artist { font-weight: bold; display: block; }
#overlay_song_name { display: block; font-size: 0.7em; }
#overlay_song_year { display: block;  }
#overlay_album { display: block;  font-size: 0.6em; }

#bottom_right_overlay {
    position: absolute;
    bottom: 3em;
    right: 0;
    color: #FFF;
    width: 100%;
    height: 3em;
    text-align: right;
    font-size: 1em;
    padding: 0.5em 1em 0.5em 1em;
    z-index: 2147483647;
    display: inline-block;
}

#overlay_live { display: block; font-size: 1em;}
#overlay_time { display: block; font-size: 1.4em; }
