/* Header */
/*.theHeader {*/
    /*height: 3em;*/
    /*!*background-color: black;*!*/
    /*!*color: #FFFFFF;*!*/
    /*overflow: hidden;*/
/*}*/


/*#LeftSide {*/
    /*width: 30%;*/
    /*float: left;*/
    /*display: inline-block;*/
/*}*/

/*#RightSide {*/
    /*width: 50%;*/
    /*float: right;*/
    /*text-align: right;*/
    /*display: inline-block;*/


/*}*/

/*.mainbarcontent {*/
    /*display: inline-flex;*/
/*}*/


#account_image {
    width: 1.5em;
    height: 1.5em;
}

#account_name {
    align-self: center;
    position:relative;
}

#logout img {
    width: 1.5em;
    height: 1.5em;
}

#timetext {
    width: 4em;
    display: inline-block;
}

#SystemTime img {
    width: 1.5em;
    /*height: 2em;*/
}