/* Στοιχεία εμφάνισης στα logs */
#logs {
    display: table;
    width: auto;
    font-size: 0.7em;
}

#logs .row {
    display: table-row;
}

#logs .row:nth-child(odd) {
    background-color: #CFD8DC;
}

#logs .row:nth-child(even) {
    background-color: #ECEFF1;
}

#logs .col {
    position:relative;
    display: table-cell;
    padding-right: 1em;

}


.logs_id {
    width: 5%;
}

.logs_message {
    width: 30%;
}

.logs_ip {
    width: 5%;
    text-align: center;
}

.logs_user {
    width: 15%;
    text-align: center;
}

.logs_date {
    width: 15%;
    text-align: center;
}

.logs_browser {
    width: 30%;
}

.basic {
    font-weight: bold;
    text-align: center;
}