/* Login Window */

#LoginWindow {
    display: block;
    width: auto;
    height: auto;
    margin: auto;

    border-radius: 6px;
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.7);
    padding: 1em;
    background-color: #ECEFF1;

}

#LoginWindow .formRow {
    display: block;
    margin-top: 1em;
}

#LoginWindow input[type=text] {
    background-color: white;
    width: 15em;
    border-radius: 6px;
    font-size: 1.5em;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.7);
}

#LoginWindow input[type=password] {
    background-color: white;
    width: 15em;
    border-radius: 6px;
    font-size: 1.5em;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.7);
}

#LoginWindow input[type=button] {
    background-color: #607D8B;
    color: white;
    width: 15em;
    border-radius: 6px;
    border: none;
    font-size: 1.5em;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition:all 0.5s;
}

#LoginWindow input[type=button]:hover {
    transform: scale(1.05);
}