/* Nav menu */
nav {
    height: 3.5em;
}

.nav-pills > a {
    cursor: pointer;
}

.navbar-text {
    color: white !important;
}

.nav-pills > a.active {
    background-color: lightgoldenrodyellow !important;
    color: grey !important;
}

#TotalInPlaylist {
    display: block;
    width: 100%;
    position: absolute;
    bottom:0;
    font-size: 0.8em;
    text-align: center;
}

#TotalNumberInPlaylist {
    font-weight: bold;
}



/*Οι σημαίες για τις γλώσσες*/
.flags {
    width: 1.8em;
    height: 1.3em;
}



/*#languages {*/
    /*margin-top: 1em;*/
    /*width: 100%;*/
    /*display:block;*/
    /*text-align: center;*/
/*}*/