/* Playlist */

.cell-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.kind_music {
    background-image: url( '../../img/music.png' );
    background-repeat: no-repeat;
    background-size: 1em;
    background-position: center center;
}

.kind_music_video {
    background-image: url( '../../img/music_video.png' );
    background-repeat: no-repeat;
    background-size: 1em;
    background-position: center center;
}

.cell-fit {
    width: 1px;
    white-space:nowrap;
}

/*Max Cell Width*/
.mcw-1 {
    max-width: 1em;
}

.mcw-2 {
    max-width: 2em;
}

.mcw-3 {
   max-width: 3em;
}

.mcw-4 {
    max-width: 4em;
}

.mcw-5 {
    max-width: 5em;
}

.mcw-6 {
    max-width: 6em;
}

.searchableItem:hover {
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}

.vote_button {
    background-image: url( '../../img/favorite.png' );
    background-repeat: no-repeat;
}

.playlist_add_button {
    background-image: url( '../../img/playlist_add.png' );
    background-repeat: no-repeat;
}

.playlist_remove_button {
    background-image: url( '../../img/playlist_remove.png' );
    background-repeat: no-repeat;
}


.playlist_button_img {
    background-size: 1.5em;
    width: 1.5em;
    background-color: transparent;
    border: none;
    /*padding-top:0.5em;*/
    cursor: pointer;
    position: relative;
    display: inline-block;
    background-position: center center;
}