/*Progress*/
#progress {
    position: absolute;
    background-image: url(../../img/Loading_icon.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: white;
    background-size: auto;
    border: 1px solid black;
    top: 40%;
    left: 40%;
    width: 20%;
    height: 25%;
    display: none;
}

#logprogress {
    position: fixed;
    left: 40%;
    text-align: center;
    display: none;
    width: 20%;
}


/* From https://css-tricks.com/html5-progress-element/ */
#theProgressBar {
    -webkit-appearance: none;
    -moz-appearance: none;
    /*left: 25%;*/
    width: 50%;
    height: 1em;

    /* For IE10 */
    color: blue;

    /* This unfortunately leaves a trail of border behind in Firefox and Opera. We can remove that by setting the border to none. */
    border: none;
}

#theProgressBar::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#theProgressBar::-webkit-progress-value {
    background-image:
            -webkit-linear-gradient(-45deg,
            transparent 33%, rgba(0, 0, 0, .1) 33%,
            rgba(0,0, 0, .1) 66%, transparent 66%),
            -webkit-linear-gradient(top,
            rgba(255, 255, 255, .25),
            rgba(0, 0, 0, .25)),
            -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

#theProgressBar::-moz-progress-bar {
    background-image:
            -moz-linear-gradient(
                    135deg,
                    transparent 33%,
                    rgba(0, 0, 0, 0.1) 33%,
                    rgba(0, 0, 0, 0.1) 66%,
                    transparent 66%
            ),
            -moz-linear-gradient(
                    top,
                    rgba(255, 255, 255, 0.25),
                    rgba(0, 0, 0, 0.25)
            ),
            -moz-linear-gradient(
                    left,
                    #09c,
                    #f44
            );

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

#theProgressNumber {
    display: inline-block;
}

#killCommand_img {
    background-image: url( '../../img/killCommand.png' );
    background-repeat: no-repeat;
    top: auto;
    background-size: 2em;
}