/*Στοιχεία εμφάνισης ρυθμίσεων*/

.message {
    background-size: 1.5em;

    border: none;
    background-color: transparent;
    background-position: center center;
}

.success {
    background-image: url( '../../img/done.png' );
    background-repeat: no-repeat;
}

.failure {
    background-image: url( '../../img/problem.png' );
    background-repeat: no-repeat;

}

.is-fail {
    font-weight: bold;
}


details div.error {
    position: absolute;
    display: block;
    border: 1px dotted black;
    font-size: 0.8em;
    margin-top: 0.3em;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.7);
    padding: 0.5em;
    border-radius: 6px;
    width: 100%;
}

.insert_row  {
    margin: 0.5em 0;
}