/* Playlist window */
#insertSmartPlaylistWindow {
    /*position: center ;*/
    display: none;
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.7);
    /*right: 1em;*/
    /*width: 50%;*/
    /*height: auto;*/
    /*border: solid 1px black;*/
    /*padding: 1em;*/
    z-index:10;
}
