.isHidden {
    display: none;
}

.isVisible {
    display: inline;
}

.hasCursorPointer {
    cursor: pointer;
}

.is_youTube-success {
    font-weight: bold;
}

.is_youTube-fail {
    font-weight: bold;
}