@import '../lib/_lib.css';

/* Basic layout */

.mainContent {
    position: fixed;
    top:3.5em;
    bottom: 2em;
    overflow-y: auto;
}

/*main {*/
    /*!*font-size: 120%;*!*/
    /*!*display:flex;*!*/
    /*height:  80%;*/
    /*!*width: 100%;*!*/
    /*!*align-items: center;*!*/
/*}*/

/*Κεντρικό box*/
section {
    padding: 1em 1em;
}

aside {
    padding: 1em 1em;
    overflow-y: auto;
}
